*{
    background: #eff1f2;
 }
.navcon{
    background: #1a6377;
    border: 2px solid #3e69ad;
    padding: 10px;
}
.nav{
    background: #1a6377;
    display: inline;
    padding: 10px;
}
.nav a{
    border: 1px solid #FFF;
    color: antiquewhite;
    margin-left: 1rem;
    background: #1a6377;
}
.top{
    margin: 3px;
}
.main{
    margin: 2px;
}
#loginout {
    float: right;
}
.left{
    float: left;
    border: 2px solid #1a6377;
    display: flex;
    margin: 10px;
}
.right{
    float: right;
    display: flex;
    border: 2px solid #1a6377;  
    margin: 10px;
    flex-wrap: wrap;
}
#metricTable{
    border: 3px solid #1a6377;
    padding: 2px;
    margin: 2px;
    justify-content: center;
}
#tableTitle{
    border: 5px solid #1a6377;
    padding 4px;
}
footer{
    display: inline;
    background: #eff1f2;
    color: darkslategray;
    position:absolute;
    bottom:0;
    width:100%;
    height: 10px;
    border: 5px solid #1a6377;
    padding-left: 25px;
    padding-bottom: 30px;
}
#search{
    padding-left:3rem;
    padding-right:3rem;
    margin: 10px;
    border: 5px solid #1a6377;
}
#facebook{
    border: 3px solid grey;
    padding: 5px;
    margin: 4px;
    display: flex;
    flex-wrap: flex;
    float: right;
    position: relative;
    bottom: 65px;
    left: 50px;
}
#twitter{
    border: 3px solid grey; 
    padding: 5px;
    margin: 4px;
}
#ad{
    border: 3px solid grey;
    padding: 5pt;
    margin: 4px;
}
#newsFeed{
    border: 3px solid grey;
    padding: 5pt;
    margin: 4px; 
}