*{
    background: #f7f7f7;
 }
.navcon{
    background: #1a6377;
    border: 2px solid #3e69ad;
    padding: 1px;
}
.nav{
    background: #1a6377;
    padding: 0px;
    margin-bottom: 2em;
}
.nav a{
    border: 1px solid #FFF;
    color: grey;
    background: #1a6377;
}
#top{
    margin: 3px;
    }
#main{
    margin: 2px;
}
#loginout {
    float: right;
}
#left{
    border: 2px solid #1a6377;
}
#right{
    border: 2px solid #1a6377;  
    margin-top: 2em;    
    margin-left: 2em;
}
#middle{
    border: 3px solid #1a6377;
    padding: 2px;
    margin-left: 2em;
}
#tableTitle{
    border: 5px solid #1a6377;
    padding 4px;
}
#footer{
    background: #eff1f2;
    color: darkslategray;
    width:100%;
    border: 5px solid #1a6377;
}
#search{
    padding: 5px;
    border: 5px solid #1a6377;
}
#facebook{
    border: 3px solid #1a6377;
    padding: 2px;
}
#results{
    border: 1px solid grey;
    margin-left: 2em;
}
#ad{
    border: 3px solid grey;
    padding: 5pt;
    margin: 4px;
}