*{
    background: #eff1f2;
 }
.navcon{
    background: #1a6377;
    border: 2px solid #3e69ad;
    padding: 10px;
}
.nav{
    background: #1a6377;
    display: inline;
    padding: 10px;
}
.nav a{
    border: 1px solid #FFF;
    color: antiquewhite;
    margin-left: 1rem;
    background: #1a6377;
}
.top{
    background-image: url("impicture.png");
    background-size: cover;
}
.main{
    margin: 2px;
}
#loginout {
    float: right;
}
.left{
    float: left;
    border: 2px solid #1a6377;
    display: inline;
}
.right{
    float: right;
    display: block;
    border: 2px solid #1a6377;    
}
#metricTable{
    border: 3px solid #1a6377;
    padding: 2px;
    margin: 2px;
}
#tableTitle{
    border: 5px solid #1a6377;
    padding 4px;
}
footer{
    display: inline;
    background: #1a6377;
    color: antiqeWhite;
    
}
#search{
    padding-left:3rem;
    padding-right:3rem;
    margin: 10px;
    border: 5px solid #1a6377;
}